---
title: Bookshop
layout: default
permalink: "/bookshop/"
slug: bookshop
---


<div class="container p-y-3">

	<div class="row">
		<div class="col-xs-12 p-b-3">
			<h2 class="circular-bold">Bookshop</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-9">
			<h5 class="circular lead-in">Board books and picture books, chapter books and reference books, biographies, myths, folktales, poetry, and more &mdash; we carry a beautiful collection of children&rsquo;s literature for age zero through young adult. We have a section for parents, too, as well as rare, out-of-print, and vintage finds. And, also, the perfect pencils, notebooks, art supplies, and other tools most necessary for all budding storytellers.</h5>
		</div>
		<div class="col-xs-12 col-md-offset-1 col-md-2">
			<img src="{{ site.github.url }}/img/stories_bookshop.png" />
		</div>
	</div>

</div>

<div class="container-fluid m-b-3">
	<div class="row">
		<div class="col-sm-12 p-a-0">
			<img src="{{ site.github.url }}/img/stories_bookshop_header.png" class="img-responsive" width="100%" height="auto"/>
		</div>
	</div>
</div>


<div class="container color-dark-blue">
	<div class="row">
		<div class="col-xs-12">
			<h2>Our Weekly Storytime</h2>
			<p class="lead">Sundays at 10:30am</p>
		</div>
	</div>
		<div class="row">
		{% assign eventPost = site.categories.weekly-storytelling | sort: 'date' %}
		{% assign eventsNumber = 4 %}
		{% assign printedEvents = 0 %}
		{% for post in eventPost %}
			{% assign curDate = site.time | date: '%Y-%m-%d' %}
			{% assign postStartDate = post.date | date: '%Y-%m-%d' %}
			{% if (postStartDate >= curDate) and (printedEvents < eventsNumber) %}
				{% assign printedEvents = printedEvents | plus: 1 %}
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-6 col-lg-3 m-xs-b-1 m-lg-b-0">
					<div class="weekly-storytelling">
						<div class="content">
							<h2>{{ post.date | date: '%d' }}<span class="month-header m-l-1">{{ post.date | date: '%b' }}</span></h2>
							{{ post.author }} <br/>presents &mdash;
							<h5><a href="{{ post.event-link }}" target="_blank">{{ post.title }}</a></h5>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-xs-12 p-t-1">
			<a class="btn btn-lg btn-primary-outline" href="http://facebook.com/storiesbk/events">See More Events</a>
		</div>
	</div>
</div>







<div class="container p-y-3">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<h2>Staff Favorites — Heidi</h2>
			<div class="lead">Our staff loves books. This month our bookshop manager Heidi shares her selection of books.</div>
		</div>
	</div>
</div>

<div class="container p-y-3">
	<div class="row">
		<div class="col-sm-4">
			<img src="{{ site.github.url }}/img/stafffav_heidi3.png" width="100%" height="auto">
			<h4 class="m-t-1">Elmer the Elephant<br/>by David McKee</h6>
			<p>I love this book for it&rsquo;s celebration of individuality. McKee&rsquo;s playful language paired with his bright illustrations has made this book a bedtime favorite for over 25 years.</p>
		</div>
		<div class="col-sm-4">
			<img src="{{ site.github.url }}/img/stafffav_heidi1.png" width="100%" height="auto">
			<h4 class="m-t-1">The Blue Whale<br/>by Jenni Desmond</h6>
			<p>The Blue Whale is a stunning example of just how good children&rsquo;s non-fiction is nowadays. Desmond has created an engaging picture book filled with absorbing facts that make each page feel like a new adventure.</p>
		</div>
		<div class="col-sm-4">
			<img src="{{ site.github.url }}/img/stafffav_heidi2.png" width="100%" height="auto">
			<h4 class="m-t-1">Precious Ramotswe Mysteries <br/> by Alexander McCall Smith</h6>
			<p>Alexander McCall Smith’s mystery series for early readers stars Precious Ramotswe as a young, intrepid little girl living in Botswana dreaming of one day becoming a detective. Her first case involves a missing piece a cake—irresistible!</p>
		</div>
	</div>
</div>





<div class="container-fluid bg-light-light-orange color-orange p-y-6">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-xs-center bookclub-list md-padding-bottom">
			<img src="{{ site.github.url }}/img/stories2.png" alt="" aria-hidden="true" width="245" height="auto">
			<h3>Perfect Stories Book Club</h3>
			<p class="sans-serif text-center large-body sm-bottom">Coming soon, for the Stories community beyond our Brooklyn shop, we are launching Perfect Stories, our book-of-the-month club: Choose the right age-range for your young reader, and once a month a handpicked Stories gem will arrive in your mailbox, bedecked with a custom Stories bookplate, and paired with our signature Story Starter games and prompts. And/or, because kids shouldn't have all the fun, select our Parenting Stories Book Club. Same principle, only the book that arrives will be for adults, and each one will explore the life altering terrain of parenthood in new and surprising ways! A beautiful gift that spans the year.</p>
			<p class="sans-serif text-center large-body md-bottom">Sign up here and we'll let you know as soon as we launch!</p>



			<form action="//storiesbk.us12.list-manage.com/subscribe/post?u=f23f7dc7a9e1b9c9d88b9d5fa&amp;id=ca64a2e27c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" novalidate>
				<div class="form-group">
					<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address" required>
				</div>
				<div class="form-group">
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary-outline">
				</div>
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f23f7dc7a9e1b9c9d88b9d5fa_ca64a2e27c" tabindex="-1" value=""></div>
			</form>

		</div>
	</div>
</div>




