---
title: Stories Bookshop + Storytelling Lab
layout: default
slug: home
---

<div class="top-section color-blue">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1">
				<h1 class="statement text-xs-center">Stories is a children's bookshop and storytelling lab in Brooklyn.</h1>
				<span class="notice h6 text-xs-center"><a href="http://store.storiesbk.com" target="_blank">Shop now &raquo;</a></span>
				<br><br>
				<span class="notice h6 text-xs-center"><a href="{{ site.github.url }}/registration">Sign Up for Classes &raquo;</a></span>
				<br><br>
				<span class="notice h6 text-xs-center"><a href="#subscribe">Get Stories News &raquo;</a></span>
				<br><br>
			</div>
		</div>
	</div>
	<img src="{{ site.github.url }}/img/clouds1.png" id="cloud1" class="cloud" width="200" height="120">
	<img src="{{ site.github.url }}/img/clouds2.png" id="cloud2" class="cloud" width="200" height="120">
	<img src="{{ site.github.url }}/img/clouds3.png" id="cloud3" class="cloud" width="200" height="120">
	<img src="{{ site.github.url }}/img/stories.png" id="person" width="230" height="auto">
</div>

<div class="flex-full-height">
	<div class="col-sm-12 col-md-6 p-a-6 m-xs-b-3 color-orange bg-light-yellow">
		<div>
			<a href="bookshop"><h2>Bookshop</h2></a>
			<p class="lead">Board books and picture books, chapter books and reference books, biographies, myths, folktales, poetry, and more &mdash; we carry a beautiful collection of children's literature for age zero through young adult. We have a section for parents, too, as well as rare, out-of-print, and vintage finds. And, also, the perfect pencils, notebooks, art supplies, and other tools most necessary for all budding storytellers.
			<br><br><a href="bookshop" class="more-link">Read More</a>
			</p>
		</div>
	</div>

	<div class="col-sm-12 col-md-6 p-a-6 m-xs-b-3 color-blue bg-light-blue">
		<div>
			<a href="storytelling-lab"><h2>Storytelling Lab</h2></a>
			<p class="lead">Tucked inside our bookshop, the Storytelling Lab hosts programming for kids after school, on weekends, and over the summer. Whether your child is a grapho-maniac always scribbling away or a somewhat reluctant writer, someone who loves to draw or is simply learning to hold a pen, our labs foster a love of words, pictures, and stories that children will carry with them for the rest of their lives.
			<br><br><a href="storytelling-lab" class="more-link">Read More</a>
			</p>
		</div>
	</div>
</div>

<div class="container color-dark-blue p-y-6">
	<div class="row">
		<div class="col-xs-12">
			<h2>Upcoming Events</h2>
			<p class="lead">We have free storytimes in our Storytelling Lab on Sundays at 10:30am. We also host storytimes with our staff on Mondays, Wednesdays, and Fridays at 11:30am and 12:30pm, and Tuesdays and Thursdays at 10:30am, for a per family fee (see our Storytelling Lab page for details), as well as a rich program of drop-ins and labs. Here are some of our upcoming author events.</p>
		</div>
	</div>
	<div class="row">
		{% assign eventPost = site.categories.events | sort: 'date' %}
		{% assign eventsNumber = 4 %}
		{% assign printedEvents = 0 %}
		{% for post in eventPost %}
			{% assign curDate = site.time | date: '%Y-%m-%d' %}
			{% assign postStartDate = post.date | date: '%Y-%m-%d' %}
			{% if postStartDate >= curDate and printedEvents < eventsNumber %}
				{% assign printedEvents = printedEvents | plus: 1 %}
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 m-xs-b-1 m-lg-b-0">
					<div class="weekly-storytelling">
						<div class="content">
							<a href="{{ post.event-link }}" target="_blank">
								<h4>{{ post.date | date: '%a %d' }}<span class="month-header m-l-1">{{ post.date | date: '%b' }}</span></h4>
								<span class="time-header" "m-l-1">{{ post.date | date: '%I:%M %p' }}</span>
								<br><br>
								<h5>{{ post.content }}</h5>
							</a>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-xs-12 p-t-1">
			<a class="btn btn-bold btn-primary-outline" href="{{ site.github.url }}/bookshop/#Events">See More Events</a>
		</div>
	</div>
</div>


<div class="container color-blue p-y-6">
	<div class="row">
		<div class="col-xs-12">
			<h2>The Latest at Stories</h2>
			<!-- SnapWidget -->
			<script src="https://snapwidget.com/js/snapwidget.js"></script>
			<iframe src="https://snapwidget.com/embed/294229" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
			<br><br>
		</div>
		<div class="col-xs-12">
			<h5 class="notice text-xs-center"><a href="http://instagram.com/storiesbk" target="_blank">Follow us on Instagram &raquo;</a></h5>
		</div>
	</div>
</div>


<div class="container-fluid bg-light-yellow color-orange p-y-6">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 text-xs-center">
			<img height="206" src="{{ site.github.url }}/img/muscle_2.gif" alt="" aria-hidden="true" width="261">
			<h2 class="m-t-3">We believe stories<br>can change the world.</h2>
			<p class="lead">Stories ignite a child’s limitless imagination, innate curiosity, and passion for learning. You can sense it intuitively when you read a great story with your kid, or think back to that feeling of being read to when you were small. We believe growing up in a world of books can make all the difference, and that storytelling is a vital art, one that in our digitally-saturated age, deserves and demands preservation.</p>
		</div>
	</div>
</div>


<div class="container-fluid bg-light-light-orange color-orange p-y-6 text-xs-center">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<img src="{{ site.github.url }}/img/stories2.png" alt="" aria-hidden="true" width="245" height="auto" class="m-b-6">
			<h2 class="m-b-2">Perfect Stories Book Club</h2>
			<p class="lead">For the Stories community beyond our Brooklyn shop, we have launched <em>Perfect Stories Picture Book-of-the-Month Club</em>: Once a month a handpicked Stories gem will arrive in your mailbox, bedecked with a custom Stories bookplate, and paired with a signature Story Starter game or writing prompt.</p>
			<p class="lead">A great way to build or expand your picture book library, and a beautiful gift that spans the year!</p>
			<h5 class="notice text-xs-center"><a href="http://store.storiesbk.com/item/perfect-stories-picture-book-of-the-month-club" target="_blank">Learn more &raquo;</a></h5>
		</div>

		<!-- <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-xs-center bookclub-list">
			<form action="//storiesbk.us12.list-manage.com/subscribe/post?u=f23f7dc7a9e1b9c9d88b9d5fa&amp;id=ca64a2e27c" method="post" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" novalidate>
				<div class="form-group">
					<input type="email" class="form-control text-xs-center" value="" name="EMAIL" placeholder="Email address" required>
				</div>
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f23f7dc7a9e1b9c9d88b9d5fa_ca64a2e27c" tabindex="-1" value=""></div>
				<input type="submit" value="Subscribe" name="subscribe" class="btn btn-md btn-primary-outline">
			</form>
		</div> -->
	</div>
</div>

<div class="flex-full-height">
	<div id="visit-image" class="col-sm-12 col-md-6 p-a-6 color-orange bg-light-blue">
		<!-- <img src="{{ site.github.url }}/img/stories_exterior.jpg"/> -->
	</div>

	<div class="col-sm-12 col-md-6 p-a-6 color-blue bg-light-blue">
		<div>
			<h2 class="m-b-3">Visit Us</h2>
			<p class="lead text-left">Our home at <a href="https://goo.gl/maps/8wLGcDtRYTG2">458 Bergen Street</a> sits at the nexus of the neighborhoods of Park Slope, Prospect Heights and Boerum Hill. A stone's throw from the bustle of the Barclays Center, it's a quintessential tree-lined Brooklyn block, with many thriving small businesses we are delighted to call neighbors, including
				<a href="http://www.achengshop.com/" target="_blank">A.Cheng</a>,
				<a href="http://www.babeland.com/" target="_blank">Babeland</a>,
				<a href="http://www.bklynlarder.com/" target="_blank">BKLYN Larder</a>,
				<a href="https://cornerdelhibklyn.com/" target="_blank">Corner Delhi</a>,
				<a href="http://gorillacoffee.com/" target="_blank">Gorilla Coffee</a>,
				<a href="http://mokbar.com/" target="_blank">MokBar</a>.
				<a href="http://www.yelp.com/biz/pintchik-brooklyn-2" target="_blank">Pintchik Hardware</a>,
				<a href="http://ridebrooklynny.com/" target="_blank">Ride Brooklyn</a>, and
				<a href="https://www.snowdaysnyc.com/" target="_blank">Snowdays</a>.
			</p><a class="underline" href="{{ site.github.url }}/our-story/">Read More</a>

		</div>
	</div>
</div>
