/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/314daa");
@font-face {font-family: 'Sailec-Bold';src: url('../fonts/314DAA_0_0.eot');src: url('../fonts/314DAA_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/314DAA_0_0.woff2') format('woff2'),url('../fonts/314DAA_0_0.woff') format('woff'),url('../fonts/314DAA_0_0.ttf') format('truetype'); font-weight: normal;  font-style: normal;   -webkit-font-smoothing: antialiased;}
@font-face {font-family: 'Sailec-Regular';src: url('../fonts/314DAA_1_0.eot');src: url('../fonts/314DAA_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/314DAA_1_0.woff2') format('woff2'),url('../fonts/314DAA_1_0.woff') format('woff'),url('../fonts/314DAA_1_0.ttf') format('truetype');   font-weight: normal;  font-style: normal;   -webkit-font-smoothing: antialiased;}

@font-face {
font-family: 'TrianonCaption-Light';
    src: url('../fonts/trianoncaptionweb-light.eot');
    src: url('../fonts/trianoncaptionweb-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/trianoncaptionweb-light.woff') format('woff'),
         url('../fonts/trianoncaptionweb-light.woff2') format('woff2');
         font-weight: normal;
         font-style: normal;
         -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'TrianonCaption-Regular';
      src: url('../fonts/trianoncaptionweb-regular.eot');
      src: url('../fonts/trianoncaptionweb-regular.eot?#iefix') format('embedded-opentype'),
           url('../fonts/trianoncaptionweb-regular.woff') format('woff');
         font-weight: normal;
         font-style: normal;
         -webkit-font-smoothing: antialiased;
}
