#header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;

  nav {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    padding: $spacer-y $spacer-x;
    align-items: center;
    font-family: $font-family-sans-serif-bold;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

  a:not(.stories-logo):hover,
  a:not(.stories-logo):focus {
    border-bottom: 2px solid $blue;
    text-decoration: none;
    line-height: 1.25;
  }

  a.stories-logo {
    &:hover,
    &:focus {
      opacity: .8;
    }
  }

  body.home & {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    nav {
      z-index: 1000;
    }
    @media screen and (max-width: 768px) {
      position: fixed;
      background: #fff;
    }
  }

  nav > a {
    background-image: url('../img/storieslogofull.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 220px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-indent: -9999px;
    body:not(.home) & {
      height: auto;
      background-image: url('../img/storieslogo.png');
    }
    body.home & {
      @media screen and (max-width: 768px) {
        height: auto;
        background-image: url('../img/storieslogo.png');
      }
    }
  }

  ul:first-of-type {
    li {
      margin-right: $spacer-x * 2;
    }
    li:last-of-type {
      margin-right: 0;
    }
  }

  ul:last-of-type {
    li {
      margin-left: $spacer-x * 2;
    }
    li:first-of-type {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 768px) {
    ul {
      display: none;
    }
    nav {
      position: relative;

    }
  }
}

body:not(.home) #header {
  border-bottom: 1px solid rgb(221, 230, 254);
}
@media screen and (max-width: 768px) {
  body.home #header {
    border-bottom: 1px solid rgb(221, 230, 254);
  }
}

a.stories-logo {
  &:hover,
  &:active {
    opacity: .8;
  }
}

body:not(.home) {
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  body.home {
    padding-top: 50px;
  }
}

body.mobile-nav-visible #header {
  height: 100vh;
  background: #fff;
  nav {
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    ul {
      display: block;
      width: 100%;
      margin: 0;
      flex-basis: 100%;
      li {
        width: 100%;
        text-align: center;
        display: block;
        padding: 1rem;
        margin:0;
      }
      order: 2;
    }

    ul:first-of-type {
      padding-top: 1rem;
    }

    ul:first-of-type,
    ul:last-of-type {
      margin: 0;
    }

    & > a {
      width: 100%;
      flex-basis: 100%;
      order: 1;
    }
  }
}


// Hamburger Button
button.menu-button {
  appearance: none;
  background: transparent;
  border: none;

  position: absolute;
  left: 1rem;
  right: 0;
  top: 25px;
  margin-top: -13px;

  outline: none;

  display: none;
  z-index: 10000; 

  height: 25px;
  width: 25px;

  span {
    display: block;
    background: $blue;
    height: 2px;
    border-radius: 1px;
    margin: .3rem 0;
    // width: 35px;
    width: 100%;
    transition: all 200ms;
    transform: rotate(0deg);
  }
  span:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform-origin: center center;
  }
  span:nth-of-type(2) {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 0;
    right: 0;
  }
  span:nth-of-type(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: center center;
  }

  @media screen and (max-width: 768px) {
    display: block;
  }

  body.mobile-nav-visible & {
    span:nth-of-type(1) {
      transform: rotate(45deg);
      top: calc(25% + 1px);
    }
    span:nth-of-type(2) {
      left: 50%;
      width: 0;
      right: 50%;
    }
    span:nth-of-type(3) {
      bottom: calc(25% + 1px);
      transform: rotate(-45deg);
    }
  }
}