@import "variables";

@import "mixins";

@import "fonts";

// BOOTSTRAP
@import "./bootstrap/scss/variables";
@import "./bootstrap/scss/mixins";
@import "./bootstrap/scss/normalize";
@import "./bootstrap/scss/print";
@import "./bootstrap/scss/reboot";
@import "./bootstrap/scss/type";
// @import "./bootstrap/scss/images";
// @import "./bootstrap/scss/code";
@import "./bootstrap/scss/grid";
// @import "./bootstrap/scss/tables";
@import "./bootstrap/scss/forms";
@import "./bootstrap/scss/buttons";
// @import "./bootstrap/scss/animation";
// @import "./bootstrap/scss/dropdown";
// @import "./bootstrap/scss/button-group";
// @import "./bootstrap/scss/input-group";
// @import "./bootstrap/scss/custom-forms";
// @import "./bootstrap/scss/nav";
// @import "./bootstrap/scss/navbar";
// @import "./bootstrap/scss/card";
// @import "./bootstrap/scss/breadcrumb";
// @import "./bootstrap/scss/pagination";
// @import "./bootstrap/scss/pager";
// @import "./bootstrap/scss/labels";
// @import "./bootstrap/scss/jumbotron";
// @import "./bootstrap/scss/alert";
// @import "./bootstrap/scss/progress";
// @import "./bootstrap/scss/media";
// @import "./bootstrap/scss/list-group";
// @import "./bootstrap/scss/responsive-embed";
// @import "./bootstrap/scss/close";
// @import "./bootstrap/scss/modal";
// @import "./bootstrap/scss/tooltip";
// @import "./bootstrap/scss/popover";
// @import "./bootstrap/scss/carousel";
@import "./bootstrap/scss/utilities";
@import "./bootstrap/scss/utilities-background";
@import "./bootstrap/scss/utilities-spacing";
@import "./bootstrap/scss/utilities-responsive";



@import "header";
@import "colors";
@import "front-page";



$h1-font-size: 50px;
$h1-line-height: 62px;

$h2-font-size: 40px;
$h2-line-height: 44px;

$h3-font-size: 36px;
$h3-line-height: 44px;

$h4-font-size: 24px;
$h4-line-height: 32px;

$h5-font-size: 20px;
$h5-line-height: 28px;

$h6-font-size: 18px;
$h6-line-height: 24px;

body {
  -webkit-font-smoothing: antialiased;
}

h1, .h1 {
  font-family: $font-family-serif-light;
  font-size: $h1-font-size;
  line-height: $h1-line-height;
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}

h3, .h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
}

h4, .h4 {
  font-family: $font-family-serif-light;
  font-size: $h4-font-size;
  font-weight: $h4-line-height;
}

h5, .h5 {
  font-family: $font-family-serif-light;
  font-size: $h5-font-size;
  line-height: $h5-line-height;
}

h6, .h6 {
  font-size: $h6-font-size;
  font-family: $font-family-sans-serif-bold;
  line-height: $h6-line-height;
}




@media screen and (max-width: 768px) {
  h1, .h1 {
    font-size: $h1-font-size * $mobile-heading-scale;
    line-height: $h1-line-height * $mobile-heading-scale;
  }

  h2, .h2 {
    font-size: $h2-font-size * $mobile-heading-scale;
    line-height: $h2-line-height * $mobile-heading-scale;
  }

  h3, .h3 {
    font-size: $h3-font-size * $mobile-heading-scale;
    line-height: $h3-line-height * $mobile-heading-scale;
  }

  h4, .h4 {
    font-size: $h4-font-size * $mobile-heading-scale;
    font-weight: $h4-line-height * $mobile-heading-scale;
  }

  h5, .h5 {
    font-size: $h5-font-size * $mobile-heading-scale;
    line-height: $h5-line-height * $mobile-heading-scale;
  }

  h6, .h6 {
    font-size: $h6-font-size * $mobile-heading-scale;
    font-family: $font-family-sans-serif-bold;
    line-height: $h6-line-height * $mobile-heading-scale;
  }

}


.sans-serif {
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  &.sans-serif {
    font-family: $font-family-sans-serif-bold;
  }
}



nav ul a.active {
  border-bottom: 2px solid $blue;
}



.color-orange {
  .form-control::-webkit-input-placeholder {
    color: $orange !important;
  }
}

.weekly-storytelling {
  background: $weekly-storytelling;
  padding: 1rem;
  @include aspect-ratio(1,1);
  .content {
    padding: 1.5rem;
  }
  .content {
    p {
      padding-bottom: 0rem;
    }
  }
  h5 a{
    font-family: $font-family-serif-light;
    font-weight: normal;
    margin-top:0.5rem;
    display: inline;
    &:hover{
      border-bottom: 1px solid;
    }
    @media screen and (max-width: 768px) {
      font-size: $h5-font-size;
    }
  }
  h2 {
    margin-left: -0.25rem;
    @media screen and (max-width: 768px) {
      font-size: $h2-font-size;
    }
  }
}

.position-relative {
  position: relative;
}


.lead {
  line-height: 28px;
  letter-spacing: 0.01rem;
  a {
    font-family: 'Sailec-Bold';
    border-bottom: 2px solid;
    &:hover {
      text-decoration: none;
    }
  }
}

.month-header {
  font-family: $font-family-sans-serif-bold;
  text-transform: uppercase;
  border-bottom: 2px solid;
  font-size: 18px;
  letter-spacing: 0.15rem;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}


.btn {
  &.uppercase {
    text-transform: uppercase;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-family: 'Sailec-Bold';
  font-weight: normal;
  &:hover {
    text-decoration: none;
  }
}

a.underline {
  border-bottom: 2px solid #5682fb
}

#footer a.social-button {
  border-bottom: none;
}

.m-xs-b-1 {
  @include media-breakpoint-up('xs'){
    margin-bottom: 2rem;
  }
}

.m-xs-b-3 {
  @media screen and (max-width: 768px) {
    margin-bottom: 4rem;
  }
}

.m-md-b-0 {
  @include media-breakpoint-up('lg') {
    margin-bottom: 0;
  }
}

#footer {
  address {
    margin: 0;
    font-weight: normal;
  }
  a {
    border-bottom: 2px solid $blue;
  }
}

strong {
    font-family: 'Sailec-Bold';
    font-weight: normal;
  }

.btn-bold {
  text-transform: uppercase;
  font-family: 'Sailec-Bold';
  letter-spacing: .2em;
  line-height: .9;
}

.btn {
  font-family: 'Sailec-Bold';
  line-height: .95;
  padding: 1.25rem 1rem 1rem 1rem;
}

.btn-md {
  font-size: 18px;
}

.btn-lg {
  padding: $spacer-x * 1.5;
}

.form-control {
  line-height: 2;
  font-family: 'Sailec-Bold';
  padding-top: $spacer-x /2;
  font-size: 18px;
}

@include media-breakpoint-up('lg') {
  input.form-control {
    min-width: 320px;
  }
  #footer input.form-control {
    min-width: 100px;
  }
}


#footer a[href^="tel"] {
  border-bottom: none;
  font-weight: normal;
  font-family: $font-family-sans-serif;
}