@font-face {
  font-family: 'CircularStd-Book';
  src: url('/fonts/CircularStd-Book.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: url('/fonts/CircularStd-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'TrianonCaption-Light';
  src: url('/fonts/TrianonCaption-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'TrianonCaption-LightItalic';
  src: url('/fonts/TrianonCaption-LightItalic.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'TrianonCaption-Regular';
  src: url('/fonts/TrianonCaption-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
